pandas
numpy
db_dtypes
lxml
requests
BeautifulSoup4
webdriver_manager
selenium
shapely
pingouin
torch 
tensorflow
opencv-python 
albumentations 
efficientnet-pytorch==0.7.1
tqdm
streamlit
streamlit-option-menu
google-cloud-bigquery==3.11.1
google-cloud-bigquery[pandas]

streamlit_player